.basicmodal-main {
  z-index: 1;
  box-sizing: border-box;
  min-width: 260px;
  max-width: 610px;
  background-color: white;
  border: 1px solid rgb(117, 114, 114);
  border-radius: 4px;;
  padding: 2%;
}
