.homebanner-main {
  width: 100%;
  aspect-ratio: 3/1;
  background-image: url(../../../assets/jpg/home-banner.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;

  .banner-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    h1 {
      z-index: 1;
    }
    h2 {
      z-index: 1;
    }
  }

  .banner-dark {
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
  }
}
