@use 'src/sass/colors' as *;

.authuserpage-page {
  background: rgb(0 0 0 / 93%);
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(15,22,28,1) 50%, rgba(0,0,0,1) 100%);
  background-position: center;
  background-size: contain;
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 100px;

  .logo {
    svg {
      height: 65px;
      width: auto;
    }
    span {
      color: $text-light;
      margin-bottom: 30px;
      font-size: 20px;
      letter-spacing: 8px;
      text-align: center;
    }
  }

  .box-panel {
    background-color: white;
    border-radius: 0.8rem;
    border: thin solid $border-grey;
    margin: auto;
    max-width: 500px;

    .tab {
      width: 50%;
    }
  }
}
