.termsandconditions-main {
  .MuiPaper-root.MuiPaper-elevation {
    max-width: none;
  }

  .termsandconditions-body {
    width: 80vw;
    box-sizing: border-box;
    background-color: white;
    min-width: 300px;
    padding: 2%;
    border-radius: 5px;
    z-index: 1;
  
    & h2 {
      text-align: center;
    }
  }
}
