.termsandconditions-body {
  box-sizing: border-box;
  background-color: white;
  max-width: 760px;
  min-width: 300px;
  padding: 2%;
  border: 2px solid #000;
  border-radius: 5px;
  z-index: 1;

  & h2 {
    text-align: center;
  }
}
