@use 'src/sass/colors' as *;

.adminnavbarres-temporary {
  div {
    color: $text-light;
  }

  .MuiPaper-root.MuiPaper-elevation.MuiDrawer-paper {
    background-color: $background-dark;
  }
}

.adminnavbarres-permanent {
  div {
    color: $text-light;
  }

  .MuiPaper-root.MuiPaper-elevation.MuiDrawer-paper {
    background-color: $background-dark;
  }
}
