@use 'src/sass/colors' as *;

.adminnavbarres-temporary {
  div {
    color: $text-light;
  }

  .css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
    background-color: $background-dark;
  }
}

.adminnavbarres-permanent {
  div {
    color: $text-light;
  }

  .css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
    background-color: $background-dark;
  }
}
