.menuadminpage-tab {
  &.MuiButtonBase-root.MuiTab-root.MuiTab-labelIcon {
    min-width: 40px;
  }
}

.menuadminpage-modalbutton {
  &.MuiButtonBase-root.MuiButton-root.MuiButton-contained {
    position: absolute;
    right: 0px;
    top: 18px;
    z-index: 1;
    text-transform: capitalize;
  }
}
